.modal  {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    padding: 20px;

    // background: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    
    background: var(--background);
        
        
        .inputContainer {
            border: solid 1px var(--text-primary);
            height: 30px;
            border-radius: 15px;
            position: relative;

            input {
                color: var(--text-primary);
                border: none;
                background: none;
                padding-inline: 15px;
                width: 100%;
                height: 100%;
                outline: none;
            }

            .close {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;
            padding: 0;

            li {
                padding: 0;
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;
            }

            hr {
                width: 100%;
            }
        }

}