.card {
    border: solid 1px var(--text-primary);
    border-radius: 10px;

    .loader {
        min-height: 75px;
        // generate a wave animation
        background: linear-gradient(135deg, transparent 48%, var(--text-primary) 50%, transparent 52%);
        background-size: 200% 100%;
        opacity: 0.5;
        animation: wave 1.5s infinite;

    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        width: 100%;
        min-height: 75px;
        padding: 10px;
        cursor: pointer;

        .icon {
            height: 30px;
            width: 30px;
        }

        .title {
            flex: 1;
            font-size: 18px;
        }
    }

    .body {
        padding: 10px;
    }
}

@keyframes wave {
    0% {
        background-position: 150% 0;
    }
    100% {
        background-position: -50% 0;
    }
}